<h1>New Course</h1>
<% if can? :create, Course %>
<%= render 'form', course: @course %>

<%= link_to 'Back', courses_path %>

<% end %>

<% if cannot? :create , Course %>
  <span class="permission-message">You aren't allowed to  create new lecture.</span>
<% end %>